data/
results/
config.yaml
sweep.yaml
.cache/
.dotnet/
.gitconfig
.jupyter/
.local/
.netrc
.profile
.viminfo
.vscode-server/
.vscode
.wget-hsts
lightning_logs/
wandb/
__pycache__/
*.pt
*.csv
*.ckpt
*.pyc
*.out
playground.ipynb